/*specific path*/

@import './helper/variables';


/*@import '~bootstrap/dist/css/bootstrap.css';*/
/*referencing by tag and its better way because package also can contains other files than .css etc.*/
@import '~bootstrap';
// we want to use scss variables from helper/variables!
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome';


@import './layout/header';
@import './layout/footer';

@import './components/ad';
@import './components/articles';
@import './components/profile';
@import './components/sortable';